<%= form_tag matches_spreadsheet_path do %>
  <div>
    <h2>Export Historical Data</h2>
  </div>
  <div style="padding-top:10px">
    <button type="submit" name="commit" value="Update" id='export-historical-data' class='submit-btn'>
      Export
    </button>
  </div>
<% end %>